.root {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.8rem;

    a {
      font-size: 1.8rem;
      color: #0091d5;
    }
  }
}
