@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
$FontFamily: "Lato", sans-serif;
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: $FontFamily;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// overwritting some of MUI CSS
.MuiPaper-root {
  justify-content: center;
}
